*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-text);
  font-size: 16px;
  line-height: 1.5; /* 24/16 */
  font-weight: 300;
  color: #95a1bb;
  background-color: var(--color-body-bg);

  &.scroll-disabled {
    overflow: hidden;
  }
}

img {
  display: block;
}
