$color-grey: #f9fafc;
$color-primary: #0a61f7;

:root {
  --color-primary: #{$color-primary};
  --color-primary-lighter: #{lighten($color-primary, 10%)};
  --color-primary-darker: #{darken($color-primary, 10%)};

  --color-grey: #{$color-grey};
  --color-grey-lighter: #{lighten($color-grey, 10%)};
  --color-grey-darker: #{darken($color-grey, 10%)};

  --color-body-bg: #fff;

  --font-heading: 'Rubik', sans-serif;
  --font-text: 'Rubik', sans-serif;

  --container-padding-xs: 20px;
  --container-padding-md: 30px;
  --container-padding-lg: 40px;
  --container-padding-xl: 50px;
  --container-padding-xxl: 80px;
}

$screen-xs: 24.375em;
$screen-sm: 36em;
$screen-md: 48em;
$screen-lg: 62em;
$screen-xl: 75em;
$screen-xxl: 90em;

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: var(--font-heading);
$fontSize: toRem(16); // где 14(px) - размер шрифта по умолчанию из макета

// Основные цвета
$mainColor: #95a1bb; // Цвет шрифта по умолчанию

// НАСТРОЙКИ ===============================================================================================================================================================================================================================================================================================
// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1920;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1440;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 30;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;
