.container-wide {
  margin: 0 auto;
  padding-left: 130px;
  padding-right: 130px;

  @include respond-max(lg) {
    padding-left: 60px;
    padding-right: 60px;
  }
  @include respond-max(md) {
    padding-left: 15px;
    padding-right: 15px;
  }
}
